dashboard-struct {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
}

dashboard-menu {
  z-index: 1000;
  background-color: var(--color-menu);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button {
    display: none;
  }

  dashboard-options {}

  dashboard-menu-footer {
    display: flex;
    flex-direction: column;

    image-element {
      svg {
        width: calc(100% - 60px);
      }
    }
  }

  @media (max-width: 950px) {
    position: fixed;
    left: 0;
    right: 0;
    overflow-x: hidden;
    top: calc(100% - 70px);
    bottom: 0;
    overflow: hidden;
    transition: top .8s;
    border-radius: 15px 15px 0 0;

    .button {
      background-color: var(--color-menu);
      color: var(--color-button);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: none;
      font-weight: bolder;
      padding: 10px;

      icon-element {
        transition: transform .8s;
        transform: rotate(0deg);
        display: inline-block;
      }
    }

    &.open {
      top: 10%;

      .button icon-element {
        transform: rotate(180deg);
      }
    }

    dashboard-menu-footer {
      display: flex;
      flex-direction: column;

      image-element {
        svg {
          width: 200px;
        }
      }
    }
  }

  @media (min-width: 950px) {
    width: 300px;
  }
}

dashboard-content {
  flex: 1;
  position: relative;
}

dashboard-option {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  transition: background-color .3s;
  cursor: pointer;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 80px;
  gap: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.166);
  }

  @media (max-width: 950px) {
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    padding: 10px 15px;
  }
}

dashboard-page {
  padding: 0 15px;
  overflow-y: scroll;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-menu);
    border-radius: 4px;
    border: 2px solid transparent;
  }

  @media (max-width: 950px) {
    &::after {
      display: block;
      height: 80px;
      width: 100%;
      content: "";
    }
  }
}