theme-changer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1000;
  color: var(--color-bg);
  background-color: var(--color-button);

  &:hover {
    background-color: var(--color-button-hover);
  }

  icon-element {
    font-size: 26px;
  }
}